@import "./../../style/admin.global.css";

/* ==========================================================================
   PAGE LAYOUTS
   ========================================================================== */

/* Standard Page Container */
.admin-page {
  padding: 40px 20px;
  width: 100%;
  background: rgb(237, 237, 237);
  margin: 0;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
  min-height: 85vh;
}
